.navbar{
  background: rgb(8,43,73);
  color: white;
  position:sticky;
  top: 0;
  z-index: 1000;
}

.navbar li{
    display: inline;
    margin-left: 60px;  
   

}
.navbar li a{

    color: white;
    font-size: 20px;
}
.navbar li a:hover{
    text-decoration: none;
    color: lightgreen;
    
   
}
.dropdwon{
    display: inline;
}
.dropbtn{
    background: inherit;
    color: white;
    outline: none;
    border: none;
    margin-left: 50px;
    font-size: 20px;
    
}